app = 'turbo-plan-web'
primary_region = 'ewr'

[build]
  [build.args]
    NEXT_PUBLIC_API_URL = "https://turbo-plan.fly.dev"

[env]
  NODE_ENV = "production"
  NEXT_TELEMETRY_DISABLED = "1"
  NEXT_PUBLIC_API_URL = "https://turbo-plan.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
